.pagination {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;

	li {
		min-width: 32px;
		height: 31px;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #c9cdd0;
			border-right-width: 0;
			padding: 6px 12px 1px 11px;
			color: #76818d;
			font-size: 14px;
			line-height: 22px;
			height: 100%;
			text-align: center;
		}
	}

	li:first-child a {
		border-radius: 2px 0 0 2px;
	}

	li:last-child a {
		border-right-width: 1px;
		border-radius: 2px 2px 0 0;
	}

	a {
		padding: 6px 12px 1px 11px;
		width: 100%;
		height: 100%;
		color: #76818d;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		border: 1px solid #c9cdd0;
		border-right-width: 0;

		&:hover {
			color: $text-color;
			background: #f2f3f4;
		}

		&.active {
			cursor: pointer;
			pointer-events: none;
			color: $text-color;
			background: #f2f3f4;
		}

		&.prev,
		&.next {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				right: 0;
				left: 0;
				margin: auto;
				top: 50%;
				width: 8px;
				height: 8px;
				border-right: 1.5px solid;
				border-bottom: 1.5px solid;
				border-color: #76818d;
				transition: border-color 0.3s ease-out;
			}

			&:hover:before {
				border-color: #212529;
			}
		}

		&.prev:before {
			left: 8px;
			transform: rotate(135deg) translateY(50%);
		}

		&.next:before {
			transform: rotate(-45deg) translateY(-50%);
		}
	}
}
