//Active state

@mixin burger-active-rotate {
  transform: rotate(180deg);

  span {
    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(1) {
      transform: rotate(-45deg);
      top: 6px;
    }

    &:nth-child(3) {
      bottom: 8px;
      transform: rotate(45deg);
    }
  }
}
