//Active state

@mixin menu-translate {
  //nav
  transform: translate3d(100%, 0, 0);
  visibility: hidden;
  top: 0;
  // opacity: 0; //Fade in

  ul {
    li {
      transform: translate3d(600px, 0, 0);
    }
  }

  &.menu-open {
    // opacity: 1; //Fade in
    visibility: visible;
    transform: translate3d(0, 0, 0); //Fade in right

    li {
      transform: translate3d(0, 0, 0); // Slide in from right for LI
    }
  }

  // Deleay each nav li for slid by 0.2s
  @for $i from 1 to 8 {
    li {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.1s;
      }
    }
  }
}
