<!-- Start introduction section -->

<section id="{{id}}" class="section introduction {{ modifications }}">
  <div class="introduction__bg" style="background-image:url(img/article-min.jpg);">
  {{!-- <img src="../../assets/img/article-min.jpg" alt=""> --}}
  </div>
  <div class="container">

    <div class="row">

      <div class="introduction__content">
        <h6>
          NESTOR GRAY
        </h6>
        <h1>THE WALK </h1>
      </div>

    </div>
  </div>
</section>
<!-- End introduction section -->