<div class="text">
        <div class="title">
          <h2>Synopsis</h2>
        </div>

        <div class="content">
          <p>
            he works in a meat processing plant, lives in a rundown apartment and dreams for a better life for herself
            and her 16-year-old daughter. Desperate for a change, she is lured by a radio advertisement to attend a
            party organized for foreign men who are touring the country, searching for love. Despite not having been out
            for years she decides to take part in the event. At the party, Anna is confronted with the realities of old
            age, with the American men's real intentions, and by her underaged daughter who is also attending the event.
            Both mother and daughter realize the absurdity and indignity of the situation and abandon their dream for a
            better life. Out for years she decides to take part in the event. At the party, Anna is confronted with the
            realities of old age, with the American men's real intentions, and by her underaged daughter who is also
            attending the event. Both mother and daughter realize the absurdity and indignity of the situation and
            abandon their dream for a better life.
          </p>
          <div class="content__row">
            <p>Drama</p>
            <p>Release Date 2019</p>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
          </div>
        </div>
      </div>