<div class="text">
  <div class="title">
    <h2>Credits</h2>
  </div>

  <div class="content">
<div class="content__col">
    {{> "./text-group/text-group.hbs" title=" WRITER & DIRECTo" text=" Dekel Berenson"}}
    {{> "./text-group/text-group.hbs" title=" DIRECTOR OF PHOTOGRAPHY" text="Vova Ivanov"}}
    {{> "./text-group/text-group.hbs" title="PRODUCERS" text="   Merlin Merton, Vitaliy Shermetiev, Olga Beskhmelnytsina, AlexeyZgonik, Natalia Libet, Elad Keidan, Omar Parker, Charlie Canning Burt, Dima Konoplov, Olga Maksiuk"}}
    {{> "./text-group/text-group.hbs" title="   ART-DIRECTOR" text="Kara Baleyan, Sergej Shishkin"}}
</div>
<div class="content__col">
    {{> "./text-group/text-group.hbs" title="  CAST" text="Anna — Svetlana Barandich Alina — Anastasia Vyazovskaya Eric — Eric R. Gilliatt Translator — Alina Chornogub Party Organiser — Liana Khobelia Ian — Istan Rozumny Drunk Man — Pavel Levitsky"}}
    {{> "./text-group/text-group.hbs" title="  EDITOR" text="Yegor Troyanovsky"}}
    {{> "./text-group/text-group.hbs" title="POST-PRODUCTION" text="Charlotte Stade, Dmitry Valsylenko, Andrii Nidzelskyi"}}

  </div>
  </div>
</div>