<!DOCTYPE html>
<html lang="en">

<!-- Start head -->
{{> "./components/partials/head" }}
<!-- End head -->

<!-- Body Modifications -->
<!-- fixed header: header position: fixed -->

<body class="fixed-header">
	<!-- Start site wrapper -->
	<div class="site-wrapper">

		<!-- Start header -->
		{{> "./components/partials/header" }}
		<!-- End header -->

		<!--Start page-->
		<div class="page-wrapper page-home">

			<!-- Start introduction -->
			{{> "./components/introduction" modifications="section-introduction--small" goodDay=true id="introduction" }}
			<!-- End introduction -->

			<!-- Start section-template -->
			{{> "./components/templates/section-template" modifications="name--modification-1 name--modification-2" id="name" subtitle=false }}
			<!-- End section-template -->

			<!-- Start section-numbers-template -->
			{{> "./components/templates/section-numbers-template" }}
			<!-- End section-numbers-template -->

			<section class="section section--default section-service">
				<div class="container">


					{{> "./components/partials/pagination" }}

					{{> "./components/templates/slider-template" }}
					
					<!-- Start Input file -->
					<input type="file" name="file" id="file" class="inputFile" />
					<label for="file"><span> Choose a file</span></label>
					<!-- End  Input file -->

					<!-- Start Lazy loading -->
					<!-- !!! In case lazy images you need to import them in index.js !!! -->
					<!-- <img data-src="img/logo.svg" src="img/logo.svg" alt="test image"> -->
					<!-- <div data-url="img/logo.svg" style="background-image: url(img/logo.svg);"></div> -->
					<!-- End Lazy loading -->

					<!-- Start image responsive (without lazyload) -->
					<img src="../assets/img/test-1x.png" srcset="../assets/img/test-1x.png 1x, img/test-2x.png 2x" alt="">
					<!-- End image responsive (without lazyload) -->

				</div>
			</section>

		</div>
		<!--End page-->

		<!-- Start footer -->
		{{> "./components/partials/footer" }}
		<!-- End footer -->

	</div>
	<!-- End site wrapper -->
</body>

</html>
