<!DOCTYPE html>
<html lang="en">

<!-- Start head -->
{{> ./components/partials/head }}
<!-- End head -->

<!-- Body Modifications -->
<!-- fixed header: header position: fixed -->

<body class="fixed-header">
  <!-- Start site wrapper -->
  <div class="site-wrapper">

    <!-- Start header -->
    {{> ./components/partials/header }}
    <!-- End header -->

    <!--Start page-->
    <div class="page-wrapper">

      <!-- Start introduction -->
      {{> ./components/introduction modifications="introduction--small" goodDay=true }}
      <!-- End introduction -->

    </div>
    <!--End page-->

    <!-- Start footer -->
    {{> ./components/partials/footer }}
    <!-- End footer -->

  </div>
  <!-- End site wrapper -->
</body>

</html>