{{!-- !!! In case lazy images you need to import them in index.js !!! --}}
{{!-- <div data-url="img/slider-img.png"></div> --}}
{{!-- <img class="news__img" data-src="img/job-1.png" alt=""> --}}

<!-- Start name section -->
<section class="section name number-animated {{ modifications }}">
  <div class="container">
    <h2 class="title title--section text--center fadeInDown animated">
      Section numbers title
    </h2>

    {{!--  --}}
    <ul>
      <li>
        <strong class="counter-number" data-count="200"><span class="counter-number-item">0</span>+</strong>
        <span class="counter-title">Employee</span>
      </li>
      <li>
        <strong class="counter-number" data-count="2"><span class="counter-number-item">0</span>M</strong>
        <span class="counter-title">Users Protected</span>
      </li>
    </ul>
    {{!--  --}}

  </div>
</section>
<!-- End name section -->