{{!-- !!! In case lazy images you need to import them in index.js !!! --}}
{{!-- <div data-url="img/slider-img.png"></div> --}}
{{!-- <img class="news__img" data-src="img/job-1.png" alt=""> --}}

<!-- Start name section -->
<section class="section name {{ modifications }}" id="{{id}}">
  <div class="container">

    <h2 class="title title--section fadeInDown animated">
      Section title
    </h2>

    {{#if subtitle}}
    <h2 class="subtitle subtitle--section fadeInDown animated">
      Section subtitle
    </h2>
    {{/if}}

    <div class="name__row">
      <div>
      </div>
    </div>

  </div>
</section>
<!-- End name section -->