<!-- Start categories-widget -->

<!-- Widget has to have widget class other classes is optional -->
<!-- For widget title use widget-title class no other classes allowed -->
<div class="widget categories_widget">
  <h5 class="widget-title">CATEGORIEËN</h5>
  <ul>
    <li><a href="">Branddetectie</a></li>
    <li><a href="">Jobs</a></li>
    <li><a href="">Schuimblusinstallatie</a></li>
    <li><a href="">Sprinkler</a></li>
    <li><a href="">Branddetectie</a></li>
    <li><a href="">Jobs</a></li>
    <li><a href="">Referentie</a></li>
    <li><a href="">Schuimblusinstallatie</a></li>
    <li><a href="">SprinklerReferentie</a></li>
  </ul>
</div>
<!-- End categories-widget -->