// Font
$default-font: 'Proxima Nova', sans-serif;

// Main colors
$color-black: #000000;
$color-white: #ffffff;

$accent-color: #4985c5;
$accent-color-darken: #022856;

$cta-color: #fee157;

$secondary-color: #828282;
$unimportant-color: #bdbdbd;

// Text
$heading-text-color: $accent-color-darken;
$text-color: $color-black;

// Transition
$transition-props: 0.3s ease-in-out;

// Box shadow
$box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);

// Number display attention level
$attention-1-color: #1db948;
$attention-2-color: #ff2d2d;
$attention-3-color: #2f80ed;

// Customization grid variables for _breakpoints.scss
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$gutter: $grid-gutter-width;
