.video-control {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 55px;
  width: 52px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='53' viewBox='0 0 50 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.6403V47.3597C0 50.3265 0 51.8099 0.968009 52.393C1.93602 52.9761 3.24734 52.2827 5.87 50.8957L45.3138 30.036C48.2525 28.4818 49.7219 27.7048 49.7219 26.5C49.7219 25.2952 48.2525 24.5182 45.3138 22.964L5.86999 2.10432C3.24734 0.717344 1.93602 0.0238554 0.968009 0.606967C0 1.19008 0 2.67349 0 5.6403Z' fill='white'/%3E%3C/svg%3E%0A");
  cursor: pointer;
  transition: opacity $transition-props;

  &.play {
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='65' viewBox='0 0 41 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='16' height='64' rx='0.5' fill='white' fill-opacity='0.7' stroke='white'/%3E%3Crect x='24.5' y='0.5' width='16' height='64' rx='0.5' fill='white' fill-opacity='0.7' stroke='white'/%3E%3C/svg%3E%0A");
    opacity: 0;
  }
}
