<!DOCTYPE html>
<html lang="en">

<!-- Start head -->
{{> "./components/partials/head" }}
<!-- End head -->

<!-- Body Modifications -->
<!-- fixed header: header position: fixed -->

<body class="fixed-header">
<!-- Start site wrapper -->
<div class="site-wrapper">

	<!-- Start header -->
	{{> "../components/header/header" }}
	<!-- End header -->

	<!-- Start page -->
	<div class="page-wrapper page-contact">


		<section class="section">
			<div class="container">

				<div class="page-header">
					<h1>Blijf altijd op de hoogte</h1>
					<p>
						Superbusy respecteren uw privacy en doen er
						alles aan om te voldoen aan de GDPR. Als u
						product- en evenementinformatie wilt
						ontvangen, kunt u uw informatie achterlaten.
						We sturen u een maandelijkse mailing.
					</p>
				</div>

				<form action="" class="form">

					<div class="form__item">
						<label for="email"> email <span>*</span> </label>
						<input type="email" placeholder="Email" id="email" required/>
					</div>

					<div class="form__item">
						<label for="namm">Naam</label>
						<input type="text" id="namm" placeholder="Enter naam"/>
					</div>

					<div class="form__item">
						<label for="voornaam">voornaam</label>
						<input type="text" placeholder="Enter voornaam" id="voornaam"/>
					</div>

					<div class="form__item">
						<label for="gsm">gsm</label>
						<input type="text" placeholder="Enter a company name" id="gsm"/>
					</div>

					<div class="form__item">
						<label for="geboortedatum"> Geboortedatum </label>
						<input type="text" placeholder="nter a phone number" id="geboortedatum"/>
					</div>

					<!-- <div class="form__item">
          <textarea name="" rows="5"  placeholder="Hoe kunnen we u helpen?" required></textarea>
        </div> -->

					<div class="checkbox mt-42">
							<span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required">
								<span class="wpcf7-list-item first last">
									<input type="checkbox" name="checkbox-1[]" value="Ja" required=""/>
									<span class="wpcf7-list-item-label">&nbsp;</span>
								</span>
							</span>
						<p>
							Bij het aanvinken gaat u akkoord dat wij
							uw persoonlijke gegevens veilig
							bijhouden. Lees onze
							<a href="">Privacy Policy</a>
						</p>
					</div>

					<div class="checkbox">
							<span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required">
								<span class="wpcf7-list-item first last">
									<input type="checkbox" name="checkbox-1[]" value="Ja" required=""/>
									<span class="wpcf7-list-item-label">&nbsp;</span>
								</span>
							</span>
						<p>
							Ik wil graag op de hoogte blijven van
							producten gerelateerd aan Superbusy.
						</p>
					</div>

					<button type="submit">Verstuur</button>

				</form>

			</div>
		</section>

		<!-- Google map start -->
		<section class="section section-google-map">
			<div class="container">
				{{> "../components/google-map/google-map"}}
			</div>
		</section>
		<!-- Google map end -->

	</div>
	<!-- End page -->

	<!-- Start footer -->
	{{> "./components/footer/footer" }}
	<!-- End footer -->

</div>
<!-- End site wrapper -->
</body>

</html>
