<head>
    <meta charset="utf-8"/>
    <title>Front-end</title>

    <!-- SEO meta tags -->
    <!-- <meta property="og:url" content="url" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="title" />
		<meta property="og:description" content="description"/>
		<meta property="og:image" content="url" />
		<meta property="og:site_name" content="title" />
		<meta name="twitter:card" content=summary />
		<meta name="twitter:description" content="description"/>
		<meta name="twitter:title" content="title" /> -->
    <!--End SEO meta tags -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- Template Basic Images Start -->
    <link rel="icon" href="img/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png"/>
    <!-- Template Basic Images End -->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#000"/>
    <!-- Custom Browsers Color End -->


    <style>
        body {
            opacity: 0;
        }

        .modal {
            opacity: 0;
        }

        .dropdown-menu {
            opacity: 0;
            visibility: hidden;
        }

        @media screen and (max-width: 991px) {

            .header nav {
                transform: translate3d(100%, 0, 0);
                visibility: hidden;
            }

            /*header mega menu */
            .header.header-mega-menu nav {
                transform: translate3d(100%, 0, 0);
                visibility: hidden;
            }
        }
    </style>
</head>