<div class="preloader">
  <div class="preloader__logo">
    <blockquote>
      In the middle of difficulty lies opportunity
    </blockquote>
    <span class="quote-author">Albert Einstein</span>
  </div>
</div>