{{!-- Modifications --}}
{{!-- header-mega-menu: for JS mega menu init --}}
<header class="header">
    <div class="container">
        <div class="header__row">
            <a href="/" class="logo">
				<svg><use xlink:href="#logo"></use></svg>
            </a>
            <menu>
                <nav>
                    <ul>
                        <li>
                            <a href="#">FILM</a>
                        </li>
                        <li>
                            <a href="">COMMERCIAL</a>
                        </li>
                        <li>
                            <a href="">COMMERCIAL</a>
                        </li>
                        <li>
                            <a href="">UA</a>
                        </li>
                    </ul>
                </nav>
                <div class="burger">
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </div>
            </menu>
        </div>
    </div>
</header>
