<div class="gallery">

  <div class="gallery__row">

    <div class="gallery-3">
      <video width="100%" height="auto">
        <source src="img/intro-v-3.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      {{> "./video-control/video-control.hbs"}}

    </div>
  </div>
  <div class="gallery__row">
    <div class="gallery-1">
      <img src="../../assets/img/article-3-min.jpg" alt="">
    </div>
    <div class="gallery-2">
      <img src="../../assets/img/article-4-min.jpg" alt="">
    </div>
  </div>
</div>