<!-- Google map start -->
<div class="google-map" data-zoom="14" data-lat="50.8726622" data-lng="3.6399702" data-marker_title="Fold"
  data-marker_url="http://built2brand.be/fold/wp-content/uploads/2018/08/logo.svg">&nbsp;</div>
<!-- Google map end -->

<!-- Google map api script-->
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5S_5QuWJIachudWX0eh0lRksaRxYCt9k&callback=initMap"></script>
<!-- Google map api script -->