<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<div>
				<h4>Partners</h4>
				<a href="#">Verlat Immo</a>
				<a href="#">24 Projects</a>
				<a href="#">YD Projects</a>
			</div>
			<div>
				<h4>Omgeving</h4>
				<a href="#">Boechout</a>
				<a href="#">Natuurpunt</a>
			</div>
			<div>
				<h4>Vremde7</h4>
				<a href="#">Plannen</a>
				<a href="#">Contact</a>
			</div>
		</div>
		<div class="footer__row footer__row--bottom">
			<a href="#" class="float-right fold">Crafted by FOLD.eu</a>
		</div>
	</div>
</footer>