<!DOCTYPE html>
<html lang="en">

<!-- Start head -->
{{> "./components/head/head.hbs"}}
<!-- End head -->

<!-- Body Modifications -->
<!-- fixed header: header position: fixed -->

<body class="">
  <!-- Start site wrapper -->
  <div class="site-wrapper">

    <!-- Start header -->
    {{> "./components/header/header" }}
    <!-- End header -->
    {{!-- 
	<svg>
		<use xlink:href="#icon-basket"></use>
	</svg> --}}

    <!--Start page-->
    <div class="page-wrapper page-home">

      <!-- Start introduction -->
      {{> "./components/introduction/introduction" modifications="section-introduction--small" goodDay=true id="introduction" }}
      <!-- End introduction -->

      <div class="container">

        {{> "./pages/article/article.hbs"}}

        {{> "./components/gallery/gallery.hbs"}}

        <div class="text">
          <div class="title">
            <h2>Directors bio </h2>
          </div>

          <div class="content">
            <p>
              Dekel Berenson is an award-winning Israeli filmmaker and storyteller currently based in London. After
              completing a mandatory three-year service in the Israeli Defence Forces, he obtained a Master's degree in
              International Relations and European Studies and traveled the world as a human and environmental rights
              activist. Over the past three years, he has combined his two passions, making artistic films of high
              quality that bring light to real-world social and humanitarian issues. His 3rd film, Anna, will première
              in competition at the 72nd Cannes Film Festival.
            </p>
            <div class="content__row">
              <p>Drama</p>
              <p>Release Date 2019</p>
              <a href="#">Facebook</a>
              <a href="#">Instagram</a>
            </div>
          </div>
        </div>
        {{> "./pages/article/article-two-col.hbs"}}

        <div class="gallery">
          <div class="container">
            <div class="gallery__row">
              <div class="gallery-1">
                <img src="./assets/img/article-5-min.jpg" alt="">
              </div>
              <div class="gallery-2">
                <img src="./assets/img/article-6-min.jpg" alt="">
              </div>
            </div>
            <div class="gallery__row">
              <div class="gallery-2">
                <img src="./assets/img/article-7-min.jpg" alt="">
              </div>
              <div class="gallery-1">
                <img src="./assets/img/article-8-min.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--End page-->

    <!-- Start footer -->
    {{> "./components/footer/footer" }}
    <!-- End footer -->

  </div>
  <!-- End site wrapper -->
</body>

</html>