// Start imports
@import '_configs/reset';
@import '_configs/vars';
@import '_configs/fonts';
@import '_configs/libs';
@import 'mixins/breakpoints';
@import 'animations';
@import 'buttons';
@import 'form';

// Basic style start

//::-webkit-scrollbar {
//	display: none
//}

// ::selection {
//   background-color: $accent-color;
//   color: #ffffff;
// }

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  font-size: 18px;
  line-height: 30px;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: $text-color;
  background-color: #ffffff;
  transition: opacity 0.3s ease;
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
  color: $accent-color;

  &:hover {
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

b,
strong {
  font-weight: bold;
}

hr {
  margin: 32px 0;
  outline: none;
  border: none;
  height: 2px;
  background-color: rgba(#000000, 0.05);
}

//Start headers style
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 52px;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

//End headers style
//End default style
//Basic style end

//Start default classes
//Responsive iframe start
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

//Responsive iframe end

//Structural style start
.page-wrapper {
  // padding-top: 100px; //for header
}

.section {
  position: relative;
}

.title {
  &-sup {
  }
}

.no-select {
  user-select: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

//Structural style end
// Partials import
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/pagination/pagination';
@import '../components/google-map/google-map';
@import '_components/click-wave';
@import '../components/gallery/gallery';
// @import './_components/_partials/inputFile';
@import '../components/preloader/preloader';
// End imports

//Start components styles
@import '../components/introduction/introduction';

//Start pages styles
@import 'home';
@import '../pages/article/article';
@import 'media';

body {
  opacity: 1;
}
