<!DOCTYPE html>
<html lang="en">

<!-- Start head -->
{{> "../components/head/head" }}
<!-- End head -->

<!-- Body Modifications -->
<!-- fixed header: header position: fixed -->

<body class="fixed-header">
	<!-- Start site wrapper -->
	<div class="site-wrapper">

		<!-- Start header -->
		{{> "../components/header/header "}}
		<!-- End header -->

		<!--Start page-->
		<div class="page-wrapper">
			<section class="section">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="page-header">
								<h1>Privacy Policy</h1>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="content">
								<p>
									Lorem ipsum dolor sit amet consectetur,
									adipisicing elit. Quo consequuntur,
									inventore at id ea optio molestiae molestias
									ad ducimus veritatis?
								</p>
								<p>
									Lorem ipsum dolor sit amet consectetur,
									adipisicing elit. Nostrum earum, repellat
									eum corrupti odit, porro omnis quae pariatur
									odio asperiores veritatis officia illum
									incidunt enim possimus vero amet
									consequuntur illo. Dignissimos ducimus
									voluptatibus veritatis omnis, assumenda quia
									ullam laboriosam minima at eveniet
									exercitationem voluptatum fugit, nesciunt
									mollitia suscipit ut animi cupiditate? Sequi
									impedit ipsum reiciendis magnam asperiores
									nulla quaerat temporibus. Voluptatibus rem
									sunt, ea cupiditate exercitationem mollitia
									sequi, ipsum nam, et vero omnis veritatis
									molestias. Laborum ut minima iusto
									laudantium? Sunt odio, ducimus ab adipisci
									labore natus veritatis porro quaerat
									voluptas atque, voluptate dolore, id eius
									cum. Suscipit, accusamus perspiciatis?
								</p>
								<p>
									Lorem ipsum dolor sit amet consectetur
									adipisicing elit. Explicabo quod quos,
									reiciendis consequatur quasi, deleniti rerum
									id sit, hic vero quaerat? Debitis doloribus
									enim maxime totam similique architecto,
									nihil quos, cum unde deserunt dolorem velit
									optio voluptatibus officia ipsum harum iste.
									Necessitatibus magni consectetur facere?
									Saepe modi recusandae laudantium quae?
								</p>
								<h2>Lorem ipsum dolor sit.</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur,
									adipisicing elit. Quo consequuntur,
									inventore at id ea optio molestiae molestias
									ad ducimus veritatis?
								</p>
								<p>
									Lorem ipsum dolor sit amet consectetur,
									adipisicing elit. Nostrum earum, repellat
									eum corrupti odit, porro omnis quae pariatur
									odio asperiores veritatis officia illum
									incidunt enim possimus vero amet
									consequuntur illo. Dignissimos ducimus
									voluptatibus veritatis omnis, assumenda quia
									ullam laboriosam minima at eveniet
									exercitationem voluptatum fugit, nesciunt
									mollitia suscipit ut animi cupiditate? Sequi
									impedit ipsum reiciendis magnam asperiores
									nulla quaerat temporibus. Voluptatibus rem
									sunt, ea cupiditate exercitationem mollitia
									sequi, ipsum nam, et vero omnis veritatis
									molestias. Laborum ut minima iusto
									laudantium? Sunt odio, ducimus ab adipisci
									labore natus veritatis porro quaerat
									voluptas atque, voluptate dolore, id eius
									cum. Suscipit, accusamus perspiciatis?
								</p>
								<p>
									Lorem ipsum dolor sit amet consectetur
									adipisicing elit. Explicabo quod quos,
									reiciendis consequatur quasi, deleniti rerum
									id sit, hic vero quaerat? Debitis doloribus
									enim maxime totam similique architecto,
									nihil quos, cum unde deserunt dolorem velit
									optio voluptatibus officia ipsum harum iste.
									Necessitatibus magni consectetur facere?
									Saepe modi recusandae laudantium quae?
								</p>
								<h5>Lorem ipsum dolor sit.</h5>
								<p>
									Lorem ipsum dolor sit amet consectetur
									adipisicing elit. Explicabo quod quos,
									reiciendis consequatur quasi, deleniti rerum
									id sit, hic vero quaerat? Debitis doloribus
									enim maxime totam similique architecto,
									nihil quos, cum unde deserunt dolorem velit
									optio voluptatibus officia ipsum harum iste.
									Necessitatibus magni consectetur facere?
									Saepe modi recusandae laudantium quae?
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!--End page-->

		<!-- Start footer -->
		{{> "../components/footer/footer "}}
		<!-- End footer -->

	</div>
	<!-- End site wrapper -->
</body>

</html>
